# Raw Tables

In [1]:
import planzero.eccc_nir_annex6
planzero.eccc_nir_annex6.df_a6_1_1

,Year,Canada,BC,AB,SK,MB,QC,NB,ON,NS,PE,NL,YT,NT,NU
0,1990,1899,1926,1928,1829,1886,1887,1888,1901,1901,1901,1901,1901,2466,0
1,1995,1899,1926,1928,1829,1886,1887,1888,1901,1901,1901,1901,1901,2466,0
2,2000,1895,1918,1923,1839,1880,1880,1881,1884,1884,1884,1884,1900,2466,1900
3,2005,1883,1898,1911,1864,1864,1864,1865,1864,1864,1864,1867,1898,2466,1898
4,2006,1878,1896,1917,1855,1855,1854,1855,1855,1855,1855,1862,1896,2466,1896
5,2007,1881,1901,1910,1857,1857,1858,1859,1858,1858,1858,1856,1901,2466,1901
6,2008,1887,1906,1910,1863,1863,1865,1865,1864,1864,1864,1860,1906,2466,1906
7,2009,1889,1900,1920,1861,1861,1865,1863,1862,1862,1862,1865,1900,2466,1900
8,2010,1891,1902,1923,1860,1862,1868,1869,1865,1865,1865,1864,1902,2466,1902
9,2011,1893,1900,1921,1866,1866,1870,1871,1869,1869,1869,1869,1900,2466,1900
10,2012,1905,1899,1931,1874,1873,1882,1888,1880,1880,1880,1873,1899,1899,1899
11,2013,1910,1909,1933,1875,1873,1884,1896,1887,1887,1887,1886,1909,1909,1909
12,2014,1912,1912,1930,1878,1875,1882,1896,1887,1887,1887,1892,1912,1912,1912
13,2015,1924,1939,1943,1881,1905,1911,1911,1912,1912,1912,1900,1939,1939,1939
14,2016,1932,1941,1954,1897,1896,1907,1908,1915,1908,1908,1914,1941,1941,1941
15,2017,1936,1955,1955,1900,1903,1915,1916,1910,1910,1910,1914,1955,1955,1955
16,2018,1944,1966,1962,1920,1915,1926,1919,1921,1919,1919,1918,1966,1966,1966
17,2019,1944,1966,1962,1920,1915,1926,1919,1921,1919,1919,1921,1966,1966,1966
18,2020,1944,1966,1962,1920,1915,1926,1919,1921,1919,1919,1921,1966,1966,1966
19,2021,1944,1966,1962,1920,1915,1926,1919,1921,1919,1919,1921,1966,1966,1966
20,2022,1944,1966,1962,1920,1915,1926,1919,1921,1919,1919,1921,1966,1966,1966
21,2023,1944,1966,1962,1920,1915,1926,1919,1921,1919,1919,1919,1966,1966,1966

In [2]:
import importlib
planzero.eccc_nir_annex6 = importlib.reload(planzero.eccc_nir_annex6)
planzero.eccc_nir_annex6.df_a6_1_2

,Year,BC,AB,SK,MB,QC,ON,NB,NS,PE,NL,YT,NT,NU
0,1990,2162,2080,2441,2401,NaN,2401,2401,2494,NaN,NaN,2401,2466,NaN
1,1995,2162,2080,2441,2401,NaN,2401,2401,2494,NaN,NaN,2401,2466,NaN
2,2000,2162,2080,2441,2401,NaN,2401,2401,2494,NaN,NaN,2401,2466,NaN
3,2005,2162,2080,2441,2401,NaN,2401,2401,2494,NaN,2299.0,2401,2466,NaN
4,2006,2162,2080,2441,2401,NaN,2401,2401,2494,NaN,2298.0,2401,2466,NaN
5,2007,2162,2080,2441,2401,NaN,2401,2401,2494,NaN,2294.0,2401,2466,NaN
6,2008,2162,2080,2441,2401,NaN,2401,2401,2494,NaN,2327.0,2401,2466,NaN
7,2009,2162,2080,2441,2401,NaN,2401,2401,2494,NaN,2309.0,2401,2466,NaN
8,2010,2162,2054,2441,2401,NaN,2401,2401,2494,NaN,2276.0,2401,2466,NaN
9,2011,2162,2062,2441,2401,NaN,2401,2401,2494,NaN,2220.0,2401,2466,NaN
10,2012,2162,2068,2441,2401,NaN,2401,2401,2494,NaN,2281.0,2401,2466,NaN
11,2013,2162,2071,2441,2401,NaN,2401,2401,2494,NaN,2272.0,2401,2466,NaN
12,2014,2162,2075,2441,2401,NaN,2401,2401,2494,NaN,2263.0,2401,2466,NaN
13,2015,2162,2081,2441,2401,NaN,2401,2401,2494,NaN,2260.0,2401,2466,NaN
14,2016,2162,2089,2441,2401,NaN,2401,2401,2494,NaN,2261.0,2401,2466,NaN
15,2017,2162,2093,2441,2401,NaN,2401,2401,2494,NaN,2250.0,2401,2466,NaN
16,2018,2162,2101,2441,2401,NaN,2401,2401,2494,NaN,2191.0,2401,2466,NaN
17,2019,2162,2106,2441,2401,NaN,2401,2401,2494,NaN,2218.0,2401,2466,NaN
18,2020,2162,2109,2441,2401,NaN,2401,2401,2494,NaN,2274.0,2401,2466,NaN
19,2021,2162,2109,2441,2401,NaN,2401,2401,2494,NaN,2210.0,2401,2466,NaN
20,2022,2162,2112,2441,2401,NaN,2401,2401,2494,NaN,2340.0,2401,2466,NaN
21,2023,2162,2112,2441,2401,NaN,2401,2401,2494,NaN,2260.0,2401,2466,NaN

In [3]:
import importlib
planzero.eccc_nir_annex6 = importlib.reload(planzero.eccc_nir_annex6)
planzero.eccc_nir_annex6.df_a6_1_3

                              Emission Factor Source  CH4 (g/m3)  N2O (g/m3)
0                                 Electric Utilities       0.490       0.049
1                                         Industrial       0.037       0.033
2              Producer Consumption (Non-marketable)       6.400       0.060
3  Producer Consumption (Non-marketable) - Newfou...       0.490       0.060
4                                          Pipelines       1.900       0.050
5                                             Cement       0.037       0.034
6                           Manufacturing Industries       0.037       0.033
7  Residential, Construction, Commercial/Institut...       0.037       0.035

In [4]:
import importlib
planzero.eccc_nir_annex6 = importlib.reload(planzero.eccc_nir_annex6)
planzero.eccc_nir_annex6.df_a6_1_4

    Year    BC    AB    SK
0   1990  8.85  6.40  6.02
1   1991  8.85  6.40  6.42
2   1992  8.85  6.40  6.29
3   1993  8.85  6.40  5.99
4   1994  8.85  6.40  5.71
5   1995  8.85  6.40  5.54
6   1996  8.85  6.62  5.30
7   1997  8.85  6.85  5.18
8   1998  8.85  7.07  5.29
9   1999  8.85  7.29  5.19
10  2000  8.85  7.52  5.04
11  2001  8.85  7.74  5.26
12  2002  8.87  7.96  5.44
13  2003  8.79  8.19  5.78
14  2004  9.15  8.41  4.90
15  2005  9.15  8.51  4.66
16  2006  9.15  8.50  4.77
17  2007  9.15  8.52  4.67
18  2008  9.04  8.55  4.55
19  2009  9.03  8.51  4.44
20  2010  8.91  8.52  4.10
21  2011  8.80  8.58  3.80
22  2012  8.66  8.32  3.60
23  2013  8.59  8.33  3.44
24  2014  8.61  8.32  4.04
25  2015  8.41  8.22  3.81
26  2016  8.47  8.32  3.89
27  2017  8.39  8.39  3.89
28  2018  8.41  8.25  4.16
29  2019  8.44  8.16  4.55
30  2020  8.59  8.23  4.82
31  2021  8.73  8.07  4.49
32  2022  8.83  8.21  4.09
33  2023  9.20  8.22  4.20

In [5]:
import importlib
planzero.eccc_nir_annex6 = importlib.reload(planzero.eccc_nir_annex6)
planzero.eccc_nir_annex6.df_a6_1_5

                     Source  CO2 (g/L)  CH4 (g/L)  N2O (g/L)
0     Propane - Residential       1515     0.0276     0.1086
1  Propane - All Other Uses       1515     0.0246     0.1080
2                    Ethane        986     0.0246     0.1080
3                    Butane       1747     0.0240     0.1080

In [6]:
import importlib
planzero.eccc_nir_annex6 = importlib.reload(planzero.eccc_nir_annex6)
planzero.eccc_nir_annex6.df_a6_1_6

,Fuel Type,Sector,CO2 (g/L),CH4 (g/L),N2O (g/L)
0,Light Fuel Oil,Electric Utilities,2753.0,0.180000,0.03100
1,Light Fuel Oil,Industrial,2753.0,0.006000,0.03100
2,Light Fuel Oil,Producer Consumption,2670.0,0.006000,0.03100
3,Light Fuel Oil,Residential,2753.0,0.026000,0.00600
4,Light Fuel Oil,"Forestry, Construction, Public Admin, Commerci...",2753.0,0.026000,0.03100
5,Heavy Fuel Oil,Electric Utilities,3156.0,0.034000,0.06400
6,Heavy Fuel Oil,Industrial,3156.0,0.120000,0.06400
7,Heavy Fuel Oil,Producer Consumption,3190.0,0.120000,0.06400
8,Heavy Fuel Oil,"Residential, Forestry, Construction, Public Ad...",3156.0,0.057000,0.06400
9,Kerosene,Electric Utilities,2560.0,0.006000,0.03100
10,Kerosene,Industrial,2560.0,0.006000,0.03100
11,Kerosene,Producer Consumption,2560.0,0.006000,0.03100
12,Kerosene,Residential,2560.0,0.026000,0.00600
13,Kerosene,"Forestry, Construction, Public Admin, Commerci...",2560.0,0.026000,0.03100
14,Diesel,Refineries and Others,2681.0,0.078000,0.02200
15,Diesel,Upgraders,2681.0,0.078000,0.02200
16,Petroleum Coke,All,NaN,0.120000,NaN
17,Still Gas,Refineries and Others,NaN,NaN,0.00002
18,Still Gas,Upgraders,NaN,0.000039,0.00002
19,Motor Gasoline,All,2307.0,0.100000,0.02000

In [7]:
import importlib
planzero.eccc_nir_annex6 = importlib.reload(planzero.eccc_nir_annex6)
planzero.eccc_nir_annex6.df_a6_1_7

,Year,Petroleum Coke - Upgrading Facilities (g/L),Petroleum Coke - Refineries and Others (g/L),Still Gas - Upgrading Facilities (g/m3),Still Gas - Refineries and Others (g/m3)
0,1990,2965,3140,2310,1740
1,1995,2961,3160,2090,1800
2,2000,2903,3090,2120,1680
3,2005,2837,3141,2140,1707
4,2006,2813,3150,2140,1741
5,2007,2800,3174,2140,1749
6,2008,2813,3193,2140,1690
7,2009,2792,3199,2140,1711
8,2010,2817,3261,2140,1825
9,2011,2820,3234,2140,1818
10,2012,2802,3240,2140,1718
11,2013,2765,3220,2140,1738
12,2014,2794,3227,2140,1741
13,2015,2795,3232,2140,1762
14,2016,2781,3236,2140,1781
15,2017,2800,3253,2140,1796
16,2018,2769,3235,2140,1847
17,2019,2771,3258,2140,1849
18,2020,2769,3246,2140,1770
19,2021,2744,3250,2140,1764
20,2022,2729,3199,2140,1773
21,2023,2717,3254,2140,1773

In [8]:
import importlib
planzero.eccc_nir_annex6 = importlib.reload(planzero.eccc_nir_annex6)
planzero.eccc_nir_annex6.df_a6_1_8

    Year  Upgrading Facilities (g/m3)  Refineries and Others (g/m3)
0   1990                         18.2                          21.9
1   1995                         18.9                          22.9
2   2000                         20.1                          23.5
3   2005                         19.5                          23.0
4   2006                         19.4                          23.1
5   2007                         19.3                          23.1
6   2008                         19.4                          23.1
7   2009                         19.2                          23.2
8   2010                         19.4                          23.2
9   2011                         19.4                          23.2
10  2012                         19.3                          23.4
11  2013                         19.0                          23.4
12  2014                         19.2                          23.4
13  2015                         19.2                          23.6
14  2016                         19.1                          23.5
15  2017                         19.3                          23.6
16  2018                         19.1                          23.5
17  2019                         19.1                          23.6
18  2020                         19.1                          23.6
19  2021                         18.9                          23.6
20  2022                         18.8                          23.3
21  2023                         18.7                          23.6

In [9]:
import importlib
planzero.eccc_nir_annex6 = importlib.reload(planzero.eccc_nir_annex6)
planzero.eccc_nir_annex6.df_a6_1_9

    Year  CH4 Emission Factor (g/m^3)
0   1990                        0.033
1   1991                        0.033
2   1992                        0.033
3   1993                        0.033
4   1994                        0.033
5   1995                        0.033
6   1996                        0.033
7   1997                        0.032
8   1998                        0.031
9   1999                        0.033
10  2000                        0.034
11  2001                        0.034
12  2002                        0.033
13  2003                        0.033
14  2004                        0.033
15  2005                        0.032
16  2006                        0.032
17  2007                        0.032
18  2008                        0.032
19  2009                        0.032
20  2010                        0.032
21  2011                        0.033
22  2012                        0.031
23  2013                        0.031
24  2014                        0.031
25  2015                        0.033
26  2016                        0.032
27  2017                        0.033
28  2018                        0.032
29  2019                        0.032
30  2020                        0.032
31  2021                        0.032
32  2022                        0.032
33  2023                        0.032

In [10]:
import importlib
planzero.eccc_nir_annex6 = importlib.reload(planzero.eccc_nir_annex6)
planzero.eccc_nir_annex6.df_a6_1_10

,Province/Territory,Coal Type & Source,Mean EF (kg CO2/tonne),EF 95% Uncertainty (lower coef),EF 95% Uncertainty (upper coef),Oxidation Factor (%),Moisture (wt.%)
0,"NL, NS, PE, QC (Prior to 2000)",Canadian Bituminous (NS),2344,-0.33,0.22,98.78,3.2
1,"NL, NS, PE, QC (2000 onward)",Canadian Bituminous (AB),2212,-0.26,0.26,98.78,7.7
2,NB (Prior to 2010),Canadian Bituminous (NB),2333,-0.14,0.14,98.78,3.2
3,NB (2010 onward),Canadian Bituminous (AB),2212,-0.26,0.26,98.78,7.7
4,"AB, BC, MB, ON, SK",Canadian Bituminous (AB),2212,-0.26,0.26,98.78,7.7
5,"NB, NS, PE and NL",Foreign Bituminous (Non-U.S.),2571,-0.70,0.70,98.78,8.3
6,MB,Foreign Bituminous (U.S. PA),2651,-0.70,0.70,98.78,0.0
7,ON,Foreign Bituminous (U.S. PA),2651,-0.70,0.70,98.38,0.0
8,"QC, AB, BC",Foreign Bituminous (U.S. PA),2662,-0.70,0.70,98.78,0.0
9,"All Prov/Terr, except SK",Lignite (SK),1463,-0.13,0.13,99.92,24.0
10,SK,Lignite (SK),1463,-0.13,0.13,99.61,36.0
11,"QC, ON, MB",Sub-bituminous (Foreign),1865,-0.08,0.08,99.84,24.0
12,"NS, PE",Sub-bituminous (Foreign),1743,-0.08,0.08,99.84,24.0
13,"AB, SK, BC",Sub-bituminous (AB),1775,-0.11,0.11,99.36,21.0
14,"NB (2010, 2011, 2013, 2014)",Sub-bituminous (Foreign),2189,-0.02,0.02,99.84,19.0
15,"NB (2012, 2015 onward)",Sub-bituminous (Foreign),2352,-0.02,0.02,99.84,12.0
16,All Prov/Terr,Anthracite,3097,-0.06,0.06,98.78,0.0

In [11]:
import importlib
planzero.eccc_nir_annex6 = importlib.reload(planzero.eccc_nir_annex6)
planzero.eccc_nir_annex6.df_a6_1_11

  Coal Product - Fuel Type  Emission Factor Units    Data Source
0            Coke Oven Gas              687  g/m  McCann (2000)
1                     Coke             3173  g/kg     CRA (2014)

In [12]:
import importlib
planzero.eccc_nir_annex6 = importlib.reload(planzero.eccc_nir_annex6)
planzero.eccc_nir_annex6.df_a6_1_12

,Source,CH4 Emission Factor,N2O Emission Factor,Units
0,Coal - Electric Utilities,0.02,0.03,g/kg
1,Coal - Industry and Heat & Steam Plants,0.03,0.02,g/kg
2,"Coal - Residential, Public Administration",4.00,0.02,g/kg
3,Coke,0.03,0.02,g/kg
4,Coke Oven Gas,0.04,0.04,g/m3

In [13]:
import importlib
planzero.eccc_nir_annex6 = importlib.reload(planzero.eccc_nir_annex6)
planzero.eccc_nir_annex6.df_a6_1_13

,Year,Bituminous - AB,Bituminous - BC,Bituminous - NS,Subbituminous - AB,Lignite - SK
0,1990,0.58,0.82,NaN,0.18,0.07
1,1995,0.58,0.82,0.07,0.21,0.07
2,2000,0.59,0.82,0.07,0.21,0.07
3,2005,0.51,0.87,0.07,0.21,0.07
4,2006,0.48,0.86,0.07,0.21,0.07
5,2007,0.47,0.87,NaN,0.21,0.07
6,2008,0.47,0.85,NaN,0.21,0.07
7,2009,0.43,0.85,NaN,0.20,0.07
8,2010,0.44,0.86,NaN,0.20,0.07
9,2011,0.42,0.84,NaN,0.21,0.07
10,2012,0.45,0.85,NaN,0.21,0.07
11,2013,0.46,0.84,NaN,0.22,0.07
12,2014,0.52,0.84,NaN,0.20,0.07
13,2015,0.55,0.86,NaN,0.20,0.07
14,2016,NaN,0.87,NaN,0.21,0.07
15,2017,NaN,0.86,NaN,0.22,0.07
16,2018,0.51,0.92,NaN,0.23,0.07
17,2019,0.47,0.93,NaN,0.24,0.07
18,2020,0.36,0.93,NaN,0.21,0.07
19,2021,NaN,0.93,NaN,0.15,0.07
20,2022,0.31,0.92,NaN,0.15,0.07
21,2023,0.31,0.92,NaN,0.15,0.07

In [14]:
import importlib
planzero.eccc_nir_annex6 = importlib.reload(planzero.eccc_nir_annex6)
planzero.eccc_nir_annex6.df_a6_1_14

    Year  CO2 (kg/GJ)  CH4 (kg/GJ)  N2O (kg/GJ)
0   1990         78.8         0.03        0.004
1   1995         77.6         0.03        0.004
2   2000         77.6         0.03        0.004
3   2005         81.1         0.03        0.004
4   2006         79.4         0.03        0.004
5   2007         80.1         0.03        0.004
6   2008         79.5         0.03        0.004
7   2009         78.2         0.03        0.004
8   2010         79.3         0.03        0.004
9   2011         79.1         0.03        0.004
10  2012         79.1         0.03        0.004
11  2013         79.1         0.03        0.004
12  2014         79.1         0.03        0.004
13  2015         79.1         0.03        0.004
14  2016         79.1         0.03        0.004
15  2017         88.7         0.03        0.004
16  2018         83.0         0.03        0.004
17  2019         88.9         0.03        0.004
18  2020         68.5         0.03        0.004
19  2021         81.7         0.03        0.004
20  2022         75.9         0.03        0.004
21  2023         77.0         0.03        0.004

In [15]:
import importlib
planzero.eccc_nir_annex6 = importlib.reload(planzero.eccc_nir_annex6)
planzero.eccc_nir_annex6.df_a6_1_15

,Mode,Category,Technology_Tier,Fuel_Type,CO2_EF_g_L,CH4_EF_g_L,N2O_EF_g_L
0,Road Transport,Light-duty Gasoline Vehicles (LDGVs),Tier 3,Gasoline,2307.30,0.11100,0.00700
1,Road Transport,Light-duty Gasoline Vehicles (LDGVs),Tier 2,Gasoline,2307.30,0.14000,0.02200
2,Road Transport,Light-duty Gasoline Vehicles (LDGVs),Tier 1,Gasoline,2307.30,0.23000,0.47000
3,Road Transport,Light-duty Gasoline Vehicles (LDGVs),Tier 0,Gasoline,2307.30,0.32000,0.66000
4,Road Transport,Light-duty Gasoline Vehicles (LDGVs),Oxidation Catalyst,Gasoline,2307.30,0.52000,0.20000
5,Road Transport,Light-duty Gasoline Vehicles (LDGVs),Non-catalytic Controlled,Gasoline,2307.30,0.46000,0.02800
6,Road Transport,Light-duty Gasoline Trucks (LDGTs),Tier 3,Gasoline,2307.30,0.11100,0.00700
7,Road Transport,Light-duty Gasoline Trucks (LDGTs),Tier 2,Gasoline,2307.30,0.14000,0.02200
8,Road Transport,Light-duty Gasoline Trucks (LDGTs),Tier 1,Gasoline,2307.30,0.24000,0.58000
9,Road Transport,Light-duty Gasoline Trucks (LDGTs),Tier 0,Gasoline,2307.30,0.21000,0.66000
10,Road Transport,Light-duty Gasoline Trucks (LDGTs),Oxidation Catalyst,Gasoline,2307.30,0.43000,0.20000
11,Road Transport,Light-duty Gasoline Trucks (LDGTs),Non-catalytic Controlled,Gasoline,2307.30,0.56000,0.02800
12,Road Transport,Heavy-duty Gasoline Vehicles (HDGVs),Three-way Catalyst,Gasoline,2307.30,0.06800,0.20000
13,Road Transport,Heavy-duty Gasoline Vehicles (HDGVs),Non-catalytic Controlled,Gasoline,2307.30,0.29000,0.04700
14,Road Transport,Heavy-duty Gasoline Vehicles (HDGVs),Uncontrolled,Gasoline,2307.30,0.49000,0.08400
15,Road Transport,Motorcycles,Non-catalytic Controlled,Gasoline,2307.30,0.77000,0.04100
16,Road Transport,Motorcycles,Uncontrolled,Gasoline,2307.30,2.30000,0.04800
17,Road Transport,Light-duty Diesel Vehicles (LDDVs),Advanced Control,Diesel,2680.50,0.05100,0.22000
18,Road Transport,Light-duty Diesel Vehicles (LDDVs),Moderate Control,Diesel,2680.50,0.06800,0.21000
19,Road Transport,Light-duty Diesel Vehicles (LDDVs),Uncontrolled,Diesel,2680.50,0.10000,0.16000
20,Road Transport,Light-duty Diesel Trucks (LDDTs),Advanced Control,Diesel,2680.50,0.06800,0.22000
21,Road Transport,Light-duty Diesel Trucks (LDDTs),Moderate Control,Diesel,2680.50,0.06800,0.21000
22,Road Transport,Light-duty Diesel Trucks (LDDTs),Uncontrolled,Diesel,2680.50,0.08500,0.16000
23,Road Transport,Heavy-duty Diesel Vehicles (HDDVs),Advanced Control,Diesel,2680.50,0.11000,0.15100
24,Road Transport,Heavy-duty Diesel Vehicles (HDDVs),Moderate Control,Diesel,2680.50,0.14000,0.08200
25,Road Transport,Heavy-duty Diesel Vehicles (HDDVs),Uncontrolled,Diesel,2680.50,0.15100,0.07500
26,Road Transport,Natural Gas Vehicles,N/A,Natural Gas,1.90,0.00880,0.00006
27,Road Transport,Propane Vehicles,N/A,Propane,1515.00,0.64000,0.02800
28,Off-road,Gasoline 2-stroke,N/A,Gasoline,2307.30,10.56000,0.01390
29,Off-road,Gasoline 4-stroke,N/A,Gasoline,2307.30,5.08000,0.06400
30,Off-road,Diesel < 19kW,N/A,Diesel,2680.50,0.07300,0.02200
31,Off-road,Diesel >= 19kW,Tier 1-3,Diesel,2680.50,0.07300,0.02200
32,Off-road,Diesel >= 19kW,Tier 4,Diesel,2680.50,0.07300,0.22700
33,Off-road,Lubricating Oil 2-stroke,N/A,Lubricating Oil,2705.09,12.69900,0.01600
34,Off-road,Natural Gas,N/A,Natural Gas,1.90,0.00880,0.00006
35,Off-road,Propane,N/A,Propane,1515.00,0.64000,0.08700
36,Railways,Diesel Train,N/A,Diesel,2680.50,0.14900,1.02900
37,Marine,Gasoline,N/A,Gasoline,2307.30,0.21931,0.06266
38,Marine,Diesel,N/A,Diesel,2680.50,0.25193,0.07198
39,Marine,Light Fuel Oil,N/A,Light Fuel Oil,2753.00,0.25550,0.07300
40,Marine,Heavy Fuel Oil,N/A,Heavy Fuel Oil,3156.00,0.28560,0.08160
41,Marine,Kerosene,N/A,Kerosene,2559.70,0.24710,0.07060
42,Aviation,Aviation Gasoline,N/A,Aviation Gasoline,2325.40,2.19000,0.23000
43,Aviation,Aviation Turbo Fuel,N/A,Aviation Turbo Fuel,2559.70,0.01800,0.07110
44,Renewable Fuels,Ethanol,N/A,Ethanol,1508.04,NaN,NaN
45,Renewable Fuels,Biodiesel,N/A,Biodiesel,2472.20,NaN,NaN